.trade__container {
    background-color: #f5f5f5;
    color: black;
    width: 100%;
    margin: auto;
    padding: 40px 0;
    display: grid;
    place-content: center;
    text-align: center;
    overflow: hidden;

}

.trade__container img {
    width: 80px;
    margin: 20px 0;
}

.trade__details {
    display: flex;
    justify-content: center;
}

.trade__details p {
    margin: 20px;
}

.first__item,
.second__item,
.third__section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 40px;
    padding: 40px 10px;
    cursor: pointer;
    border-radius: 30px;
}

.logo__names {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__names span {
    color: grey;
}

.trade__details p {
    max-width: 300px;
}

.trade__details button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.trade__details svg {
    color: blue;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid grey;
}

@media screen and (max-width:775px) {
    .trade__details {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .trade__container h2 {
        max-width: 350px;
        font-size: 15px;
    }
}